<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>

		<add id="Addons_Simplecalculator::menu"
    		 title="Simple Calculator" module="Addons_Simplecalculator"
    		 sortOrder="60" parent="Magento_Customer::customer"
    		 action="aoadminsimplecalculator/simplecalculator"
    		 resource="Addons_Simplecalculator::menu"
    		/>
	</menu>
</config>
